<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of some Popular languages for Data Science
* List of some commonly used libraries used by Data Scientists
* Table of Data Science Tools
* Examples of Evaluating arithmetic expressions to Multiply & Add integers in Python
* Converting Minutes to Hours

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. Javascript
9. PHP
10. Go
11. Ruby
12. Visual Basic

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Numpy
3. Scipy
4. Matplotlib

|Data Science Tools|
|:-:|
|Jupyter Notebook|
|RStudio|
|GitHub|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# These are a few simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [17]:
(20+5)*4

100

In [18]:
(2456*308*19*7)+92416

100700000

In [19]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours, minutes = divmod(minutes, 60)
print("%d:%02d" % (hours, minutes), ' Hours')

3:20  Hours

In [20]:
# This will convert 240 minutes to hours by diving by 60

minutes = 240
hours, minutes = divmod(minutes, 60)
print("%d:%02d" % (hours, minutes), ' Hours')

4:00  Hours

## Author
Sharon Raja S